body {
  padding: 0;
  margin: 0;
}

button {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(46, 50, 71);
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid rgb(180, 181, 219);
  font-family: "Cormorant Garamond";

}

.main-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgb(180, 181, 219);
}


.simple-calculator-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.last-row {
  grid-template-columns: 1fr 1fr 2fr;
  border-bottom: none;
}
.last-row button {
  border-bottom: none;
}

.number-button {
  background-color: rgb(128, 122, 122);
}

.equal-to-button {
  background-color: rgb(14, 16, 86);
}

.sign-button {
  font-weight: 200;
  font-size: 32px;
}