body {
  padding: 0;
  margin: 0;
}

button {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid;
  font-family: "Cormorant Garamond";
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.main-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.display-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 3px;
  padding-right: 5px;
}

.display-box-small {
  display: flex;
  justify-content: end;
  margin-bottom: 3px;
  padding-right: 5px;
  font-size: 26px;
  height: 30px;
}

.display-box-main {
  font-size: 72px;
  display: flex;
  justify-content: end;
  margin-bottom: 3px;
  height: 82px;
}

.final-answer {
  font-size: 72px;
}


.simple-calculator-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.last-row {
  grid-template-columns: 1fr 1fr 2fr;
  border-bottom: none;
}
.last-row button {
  border-bottom: none;
}

.number-button {
  background-color: rgb(128, 122, 122);
}

.equal-to-button {
  background-color: rgb(14, 16, 86);
}

.sign-button {
  font-weight: 100;
  font-size: 30px;
}